*.csv
#Python env
bin/
lib/
lib64
include/
share/
pyvenv.cfg
.ipynb_checkpoints/
#git
.git/
#IgnoreFolders
stocknet.egg-info/
Study/
Data/
data/
data_org/
notebooks/
obj/
models/
resources/
.env
*.csv
__pycache__/
logs/
venv*/
build/
data_source/
/stocknet.egg-info
/dist
*.ipynb
*.logs