*.csv
#Python env
bin/
lib/
lib64
include/
share/
pyvenv.cfg
.ipynb_checkpoints/
#git
.git/
#IgnoreFolders
stocknet.egg-info/
Study/
Data/
data/
data_org/
notebooks/
obj/
models/
resources/
.env
*.csv
__pycache__/
logs/
venv*/
build/
data_source/
/stocknet.egg-info
/dist
*.ipynb
*.logs
predictions/transformer/*_params/
predictions/transformer/*.json
# exclude samples
!predictions/transformer/baseline.json
!predictions/transformer/baseline_scaling.json
!predictions/transformer/baseline_params/
!predictions/transformer/cd_scaling.json
!predictions/transformer/cd_params/
!predictions/transformer/cid_scaling.json
!predictions/transformer/cid_params/
!predictions/transformer/weeklytime_params/
