*.csv
#Python env
bin/
lib/
lib64
include/
share/
pyvenv.cfg
.ipynb_checkpoints/
#git
.git/
#IgnoreFolders
Study/
Data/
data/
data_org/
notebooks/
obj/
model/
models/
resources/
.env
*.csv
__pycache__/
logs/
venv/
build/
data_source/